requests==2.22.0
django_datetime_widget==0.9.3
Django==3.1.7
djangorestframework==3.12.4
django-crispy-forms==1.11.2
django-allauth==0.44.0
django-rest-auth==0.9.5
django-utils-six==2.0
djangorestframework==3.12.4
gunicorn==20.1.0
whitenoise==5.2.0
