{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <h1><b>Γεια σας {{store}}</b></h1>
        <h2>{{storeaddress}}</h2>

        <!--<h2>Αυτός είναι ο οδηγός σας για σήμερα</h2>-->
        <!-- <p>{{  name }}, {{ lastname }}, {{phone}}, {{active}}, {{username}}</p> -->

        <table>  
            <thead>  
                <tr>  
                    <td><b>Όνομα</b></td>  
                    <td><b>Επίθετο</b></td>  
                    <td><b>Τηλέφωνο</b></td>
                    <td><b>Είναι Ενεργός</b></td>
                </tr>  
            </thead>  
                          
            <tr>  
                <td>{{name}}</td> 
                <td>{{lastname}}</td> 
                <td>{{phone}}</td> 
                <!-- {% if active %}
                    <td class="checkmark">{{active}}</td> 
                    //<td id="greenBox">{{active}}</td>  
                {% else %}
                    <td id="orangeBox">X</td> 
                {% endif %} -->
                <td>{{active}}</td>
            </tr> 
        </table> 

        {% for order in orders%}
            <li> {{order.store.name}} </li>
        {% endfor %}

    {%else%}
        <p>Anonymous User</p>
    {%endif%}
{% endblock %} 