{% extends 'base.html' %}

{% block content %}
<!-- {{ object_list }} -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>  
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />  
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>  
<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>            
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" />  

    
<br>
<div class="container">  
    <h2 align="center" class="brand-text"><b>Ιστορικό Παραγγελιών</b></h2>  
    <br />  
    <div class="table-responsive">  
         <table id="customer_data" class="table table-striped table-bordered">  
    <thead>  
        <tr>  
            <td><b>Διεύθυνση</b></td>  
            <td><b>Ώρα παραλαβής</b></td>  
            <td><b>Έχει παραληφθεί</b></td>
            <td><b>Έχει παραδοθεί</b></td>
            <td><b>Τιμή</b></td>
            <td><b>Δημιουργήθηκε</b></td>
            <!-- <td>ραδόθηκε ώρα</b></td> -->
        </tr>  
    </thead>  
         <tbody>    
            {% for instance in object_list %}    
    <tr>  
        
        <td>{{instance.adress_to}}</td> 
        <td>{{instance.time_to_pickup}}</td> 
        <td>{{instance.running_now}}</td> 
        <td>{{instance.isDelivered}}</td> 
        <td>{{instance.price}}</td> 
        <td>{{instance.created_on}}</td>
        
    </tr> 
    {% endfor%}
</tbody> 
</table> 
</div>
</div>


{% endblock %} 