{% extends 'base.html' %}

{% block content %}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
    {{ form.media }}
    </head>
<style>
    .button3{
                background-color: #FF7F50;
                /*background-color: #FF7F50;*/
                position: absolute;
                left: 43%;
                height: 90px;
                width: 250px;
                font-size: 20px;
                color: white; 
              }
</style>

<form method='POST'>{% csrf_token %}
    <div class="container">  
        <h2 align="center" class="brand-text"><b>Νέα Παραγγελία</b></h2>  
            {{  form.as_p }} <!--as_table-->
    </div>
<input  type= 'submit' value='Υποβολή Παραγγελίας' class="btn button3 align=center">
</form>
<!-- <script>
    setTimeout("location.href = 'http://localhost:8000/orders/';",5000);
    </script> 

onclick="window.location.href = 'http://localhost:8000/orders/';"-->
<!-- <meta http-equiv="refresh" content="1; url=http://localhost:8000/orders/"/> -->
<!-- action='http://localhost:8000/orders/' -->
{% endblock %} 